[submodule "gui/lethean"]
	path = gui/lethean
	url = https://gitlab.com/lthn.io/projects/chain/lethean
[submodule "gui/src/ed25519-donna"]
	path = gui/src/ed25519-donna
	url = https://github.com/floodyberry/ed25519-donna.git
