#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_clean:
	rm -rf lethean
	dh_auto_clean

override_dh_auto_configure:

override_dh_auto_build:
	./build.sh release

override_dh_auto_install:
	make -C build install INSTALL_ROOT=../debian/tmp/	